@page
@model BookStore.Web.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
}

<h1>Showing search results for "@Model.SearchTerm"</h1>

<ul>
    @Html.DisplayFor(model => model.SearchResults)
</ul>
